body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: skyblue;
  }
  
  .lyrics-container {
    text-align: center;
  }
  
  .lyrics {
    font-size: 40px;
    color:white;
  }
  